
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MR Migration</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div>
    <h1>Bigcommerce Settings</h1>
    <div>
        <h2>original site</h2>
        <div>
            <div>store_hash</div><div><input type="text"></div>
        </div>
        <div>access_token</div>
        <div>
            <input type="text">
        </div>
        <div>access_Key</div>
        <div>
            <input type="text">
        </div>
    </div>
    <div>
        <h2>target site</h2>
        <div>
            <div>store_hash</div><div><input type="text"></div>
        </div>
        <div>access_token</div>
        <div>
            <input type="text">
        </div>
        <div>access_Key</div>
        <div>
            <input type="text">
        </div>
    </div>
    
    
</div>
<div>
    <h1>Please Choose Your Severice</h1>
        <select id="mounth">
            <option value="hide">-- section --</option>
            <option value="january" rel="icon-temperature">January</option>
            <option value="february">February</option>
            <option value="march">March</option>
            <option value="april">April</option>
            <option value="may">May</option>
            <option value="june">June</option>
            <option value="july">July</option>
            <option value="august">August</option>
            <option value="september">September</option>
            <option value="october">October</option>
            <option value="november">November</option>
            <option value="december">December</option>
        </select> 
        <select id="year">
            <option value="hide">-- method --</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
        </select>
</div>
    



<button>confirm</button>

</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</html>
